@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', system-ui, sans-serif;
  background-color: #f7f7f7;
  color: #333333; /* Using dark-steel */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}